*body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size:16px;
    font-family: 'Rubik', sans-serif;;
}
.Article {
    display: flex;
    flex-wrap: nowrap;
    border: solid black 1px;
}
.Article {
    border-top: none;
}
.Type {
    flex-basis: 12%;
}
.Brand {
    flex-basis: 13%;
}
.Model {
    flex-basis: 13%;
}
.Power, .Quantity, .Price, .Control{
    flex-basis: 10%;
    text-align: center;
}
.Control {
    flex-basis: 12%;
}
.Control input {
    padding: 1px 15px;
}
.Photo {
    flex-basis: 20%;
}
.Article>div{
    padding: 5px 15px;
    border-right:solid #d4ddda 1px;
}
.Article>div:last-child {
    border-right:none;
}