*body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size:16px;
    font-family: 'Rubik', sans-serif;;
}
.Text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding:15px 0;
}